body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: center;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    width: 20%;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border: 1;
    border-collapse:collapse;
    margin-bottom: 20px;
}

table, th, td {

    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2841a7;
    color: rgba(107, 149, 255, 0.893);
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #2841a7;
    color: rgba(107, 149, 255, 0.893);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2a45b199;
}